/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #8bb8c4;
    color: #333;
    padding: 20px;
}

header {
    background-color: brown;
    color: white;
    padding: 10px;
    text-align: center;
}

nav{
    background-color:yellow;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin: 0 25px;
}
/*link path styles*/
nav ul li a{
    color: black;
    padding: 10px;
    display: block;
}
/*hover effect*/
nav ul li a:hover{
    background-color: orange;
    color: white;
    border-radius: 5px;
}

main {
    padding: 40px;
    margin: auto;
    max-width: 800px;
}
h2 {
    color: brown;
    margin-bottom: 20px ;
}
p {
    margin-bottom: 20px ;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 100px ;
}
footer {
    background-color: #393838;
    color: yellow;
    padding: 15px;
    text-align: center;
    margin-top: 5px;
    border-radius: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}
table, th, td {
    border: 2px solid #000;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    color: white;
    background-color: burlywood;
}
button {
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkred;
}
form {
    margin-top: 10px;
    border: solid 2px #000;
    border-radius: 50px;
    padding: 20px;
}
label {
    display: block;
    margin-bottom: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
input, textarea {
    padding: 20px;
    border-radius: 10px;
}